@import "tailwindcss";

:root {
  --card-bg-light: #f9f9f9;
  --card-bg-dark: #f9f9f9;
  --contato-bg-light: #802121;
}

html.dark {
  --card-bg-light: #1a1a1a;
  --card-bg-dark: #1a1a1a;
  --contato-bg-dark: #201f27;
  --contato-bg-light: #a34242;
}

.side-menu {
  background-color: var(--card-bg-light);
}

html.dark .side-menu {
  background-color: var(--card-bg-dark);
}

html.dark {
  color-scheme: dark;
}

body {
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  scroll-behavior: smooth;
}

@keyframes borderMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

@layer utilities {
  .animate-border {
    background-size: 200% 200%;
    animation: borderMove 3s linear infinite;
  }
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@media (max-width: 639px) {
  .animate-float {
    animation: float 6s ease-in-out infinite;
  }
}

.painel {
  display: none;
}

@media (min-width: 1250px) {
  .painel {
    display: block;
  }
}
