@import "tailwindcss";

html.dark {
  color-scheme: dark;
}

body {
  padding: 30px;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  scroll-behavior: smooth;
}

@keyframes borderMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

@layer utilities {
  .animate-border {
    background-size: 200% 200%;
    animation: borderMove 3s linear infinite;
  }
}